<section class="section">
  <div class="container">
    <h1 class="title">Counter</h1>
    ${Counter}
    <div class="content">
      <p>Click to increase or decrease the current value. As the value grows, the waiting time gets longer.</p>
      <table class="table is-striped">
        <thead>
          <tr>
            <th scope="col">Button</th>
            <th scope="col">Description</th>
            <th scope="col">Waiting Time</th>
            <th scope="col">Feature</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>+1</td>
            <td>add 1 to the current value</td>
            <td>|current value| &times; 100 msec</td>
            <td></td>
          </tr>
          <tr>
            <td>-1</td>
            <td>subtract 1 from the current value</td>
            <td>|current value| &times; 100 msec</td>
            <td></td>
          </tr>
          <tr>
            <td>+10</td>
            <td>add 10 to the current value</td>
            <td>|current value| &times; 10 msec</td>
            <td><span class="tag is-success">pro</span></td>
          </tr>
          <tr>
            <td>-10</td>
            <td>subtract 10 from the current value</td>
            <td>|current value| &times; 10 msec</td>
            <td><span class="tag is-success">pro</span></td>
          </tr>
        </tbody>
      </table>
      <p>To use pro feature, you must sign in.</p>
    </div>
  </div>
</section>
